
@font-face {
    font-family: 'Lato';
    src: url('assets/font/Lato-Regular.woff2') format('woff2'),
        url('assets/font/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
